.header-parent {
  .header-cont {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .group1 {
      .logo {
        font-size: 24px;
        font-weight: 600;
      }
    }

    .group2 {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;
      .search-input {
        padding: 8px 12px;
        border-radius: 5px;
        border: 1px solid var(--accent);
        // outline: none;
      }
      .search-btn {
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        position: absolute;
        right: 2px;
        font-size: 20px;
      }
    }

    .group3 {
      display: flex;
      gap: 10px;
      .tab {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 10px;
        border-radius: 50px;
        transition: var(--trans);
        cursor: pointer;
        .icon {
          display: flex;
          align-items: center;
        }
        span {
          font-size: 10px;
          font-weight: 500;
        }
        &:hover {
          background-color: black;
          color: var(--white);
        }
      }
    }

    .group4 {
      display: flex;
      gap: 8px;
      .message,
      .notification {
        display: flex;
        align-items: center;
        .icon {
          display: flex;
          align-items: center;
          font-size: 20px;
          position: relative;
          cursor: pointer;
          span {
            position: absolute;
            top: -5px;
            right: -5px;
            background-color: red;
            color: var(--white);
            font-size: 10px;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
          }
        }
      }

      .profile {
        display: flex;
        align-items: center;
        background: black;
        padding: 5px 10px;
        gap: 5px;
        border-radius: 50px;
        .user-image {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .username {
          font-size: 14px;
          font-weight: 500;
          color: var(--white);
        }
        .icon {
          display: flex;
          align-items: center;
          font-size: 16px;
          color: var(--white);
          cursor: pointer;
        }
      }
    }
  }
}
