.main-pan-parent {
  width: 100%;
  height: 100vh;
  padding: 10px;
  position: relative;
  display: flex;
  .sidebar {
    width: 200px;
    height: 100%;

    transition: var(--trans);
    &.active {
      width: 50px;
    }
  }
  .main-right {
    width: calc(100% - 200px);
    transition: var(--trans);
    height: 100%;
    overflow-y: auto;
    &.active {
      width: calc(100% - 50px);
    }
  }
}
