.header-parent {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.311);
  padding: 5px 10px;

  .icon {
    display: flex;
    align-items: center;
    font-size: 22px;
    transition: var(--trans2);
    padding: 5px;
    border-radius: 5px;
    &:hover {
      background: var(--accent);
      color: var(--white);
    }
  }
  .right-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(0, 1, 21, 0.064);
    border-radius: 5px;
    padding: 5px 10px;
    transition: var(--trans);
    position: relative;
    &:hover {
      background: var(--accent);
      color:white;
    }
    .profile-pic {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        // object-fit: cover;
      }
    }
    .open-box {
      position: absolute;
      top: 40px;
      right: 0px;
      background: white;
      border-radius: 5px;
      box-shadow: var(--shadow);
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 150px;
      z-index: 100;
      .box-item {
        display: flex;
        align-items: center;
        .icon-m,
        .icon-l {
          font-size: 16px;
          width: 120px;
          display: flex;
          align-items: center;
          gap: 10px;
          border-radius: 5px;
          padding: 5px;
          transition: var(--trans);
          color:var(--accent);
          span {
            font-size: 14px;
          }
          &:hover {
            background: var(--accent);
            color: var(--white);
          }
        }

        .icon-l {
          color: red;
        }
      }
    }
  }
}
